
.bg {
  background-color: #222;
}

.board {
  background-color: transparent;
  box-shadow: 0 0 0 1px #333;
  border: 1px solid #000;
  color: dimgrey;
}

.back {
  background-color: darkgrey !important;
}