@main-color: gray;
@secondary: #ff4edf;

.bg {
  background-color: darken(#b9b9b9, 2%);
}

.board {
  background-color: #b9b9b9;
  color: @secondary;
}

.back {
  background-color: @main-color !important;
  &:hover {
    background-color: darken(@main-color, 2%) !important;
  }
}
