
.board {
  width: 70vw;
  height: 40vw;
  margin: 2vw auto;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.card {
  border: 1px solid #f9f9f9;
}

.hide {
  visibility: hidden;
}