@main_color: #77ffff;
.menu {
  color: @main_color;
  font-family: Courier New, serif;
 // font-family: Verdana, sans-serif;
  white-space:nowrap;
  font-size: 3vw;
  height: 100%;
  background-color: #333;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;

  display: grid;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch ;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 20vw 0.75fr 1.25fr;
}