@main_color: #77ffff;

.modal_bg {
  position: fixed;
  overflow: auto;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.modal_container {
  padding: 1vw;
  letter-spacing: 1em;
  word-spacing: 1.5em;
  font-family: Courier New, serif;
  font-size: 2vw;
  color: @main_color;
  background-color: rgba(9,20,20,1);
  margin: 10% auto;
  border: 3px solid @main_color;
  width: 50vw;
  height: 35vw;
  border-radius: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr 1fr;
}

.hider {
  display: none;
}

.skins, .sizes {
  color: darken(@main_color, 50%);
  letter-spacing: 0.5vw;
  word-spacing: 0.1vw;
  font-size: 1.5vw;
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  justify-items: flex-start;
  justify-content: flex-start;

  margin: 2vw 0 2vw 2vw;
  background-color: transparent;
}

.skins {
  border-right: 2px solid @main_color;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  & div {
    color: @main_color;
    position: relative;
    cursor: pointer;
    line-height: 300%;
    background-color: transparent;
    &:hover {
      text-shadow: 0 0 8px @main_color, 0 0 14px @main_color;
    }
    &:before {
      content: '';
      position: absolute;
      top:0;
      left: 25%;
      width: 50%;
      height: 1px;
      background-color: @main_color;
    }
  }
}

.sizes {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  & div {
    color: @main_color;
    position: relative;
    cursor: pointer;
    line-height: 250%;
    background-color: transparent;
    &:hover {
      text-shadow: 0 0 8px @main_color, 0 0 14px @main_color;
    }
    &:before {
      content: '';
      position: absolute;
      top:0;
      left: 25%;
      width: 50%;
      height: 1px;
      background-color: @main_color;
    }
  }
}

.highscores {
  cursor: pointer;
  border: 1px solid @main_color;
  margin: 1vw;
  line-height: 150%;
  border-radius: 1vw;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  &:hover {
    text-shadow: 0 0 8px @main_color, 0 0 14px @main_color;
    box-shadow: 0 0 16px 0 @main_color;
  }
}

.new_btn {
  border: 1px solid @main_color;
  cursor: pointer;
  line-height: 200%;
  margin: 0 1vw 1vw 1vw;
  border-radius: 1vw;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  &:hover {
    text-shadow: 0 0 8px @main_color, 0 0 14px @main_color;
    box-shadow: 0 0 16px 0 @main_color;
  }
}

.highlight {
  background: radial-gradient(fadeout(@main_color, 30%) 5%, fadeout(@main_color, 90%) 25%, transparent 40% ) !important;
  color: black !important;
  font-weight: bold;
}