.timer {
  width: 100%;
  height: 100%;
  display: flex;
//  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
}

.timer_part {
  box-shadow: 0 0 0 1px #333;
  border: 1px solid #000;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.pause {
  cursor: pointer;
  width: 15%;
  background-color: #444;
}

.replay {
  cursor: pointer;
  width: 15%;
  background-color: #444;
}

.display {
  width: 70%;
  font: 3vw 'Verdana', monospace;
  line-height: 150%;
  background-color: #222;
  display: flex;
  justify-items: center;
  align-items: stretch;
  justify-content: center ;
  align-content: stretch;
}

.col {
  background: linear-gradient(#222 0%, #383838 50%, #222 100%);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  color: white;
}

.m1 {
  width: 22%;
}

.m2 {
  width: 22%;
}

.colon {
  line-height: 135%;
 // text-indent: -2%;
  width: 12%;
  color: #777;
}

.s1 {
  width: 22%;
}

.s2 {
  width: 22%;
}
